#nav {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    border-bottom: 2px solid var(--yellow);
}

#logo {
    width: 20%;
    object-fit: contain;
}

#nav ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#nav ul a {
    color: white;
    display: flex;
    align-items: center;
}

#nav ul a span {
    padding-left: 8px;
}

#footer {
    font-size: 18px;
    width: 100vw;
    background-color: var(--gray);
    display: flex;
}

#footer .col {
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

#footer .glow-link a {
    color: white;
    text-shadow: white 1px 0 10px;
}

#footer .col span {
    font-size: 23px;
    padding: 10px 20px;
}

.slogan {
    width: 78vw;
    margin: auto;
    border: 2px solid var(--yellow);
    border-radius: 10px;
}

#sport-introduction {
    width: 78vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

#sport-introduction img {
    width: 23%;
}

#intro {
    position: relative;
    width: 78vw;
    height: 80vh;
    margin: 0 11vw;
    filter: drop-shadow(0 0 30px rgba(255, 111, 0, 0.15));
}

#intro video {
    width: 100%;
    height: 100%;
}

#intro #options {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro #options button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--yellow);
    font-family: main;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#intro #options.swap-buttons #yes-btn {
    transform: translateX(450px);
}

#intro #options.swap-buttons #no-btn {
    transform: translateX(-450px);
}

#intro #meme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.slogan p {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(90deg, rgb(255, 128, 0), rgb(242, 255, 0), rgb(255, 77, 0));
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: slide 3s linear infinite;
}

:root {
    --bg: rgba(0, 0, 0, 0.5);
    --card: #fff;
    --accent: #1e88e5
}